/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header{
  border:2px solid red;
  text-align: center;
}

.Center{
  border:2px solid red;
  text-align: center;
  padding:60px;
}

.customer{
  position :relative;
  left:40px;
}

.btn{
  position :relative;
  left:40px;
  background-color:skyblue;
}

.customerlist{
    border:2px solid red;
}

.header2{
  text-align: center;
}

.btn2{
    text-align: center;
  background-color:skyblue;
  margin:20px;
  padding:10px;
}

.header3{
  border:2px solid red;
  text-align: center;
  width:100vw;
}
.footer{
  border:2px solid red;
  text-align: center;
  padding:10px;
  background-color:black;
  color:white;
}